.btn-custom{
  --bs-btn-bg: #F80000;
  --bs-btn-font-weight: 600;
  --bs-btn-color: #fff;
  --bs-btn-border-color: #F80000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d40000;
  --bs-btn-hover-border-color: #d40000;
}

.btn-outline-custom{
  --bs-btn-color: #F80000;
  --bs-btn-border-color: #F80000;
  --bs-btn-hover-color: #F80000;
  --bs-btn-hover-bg: #F80000;
  --bs-btn-hover-border-color: #fff;
}

.btn-outline-custom-black{
  --bs-btn-color: #000000;
  --bs-btn-border-color: #000000;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #fff001;
  --bs-btn-hover-border-color: #000000;
}

.card-media{
  background: #fff001;
  padding: 12px;
}

.card-media .card-img-top{
  display: block;
  width: 100%;
  height: 225px;
  object-fit: cover;
}
